<div class="container">

  <!-- upper-data contains images -->
  <div class="upper-data">
    
    <img  src="../assets/night.png" *ngIf="posts.current.temp_c <= 15">
    <img id="morning" src="../assets/morning.png" *ngIf="posts.current.temp_c > 15">
    <!-- weather-data contains weather data -->
<div class="weather-data">
  <div class="location" >{{posts.location.name}}</div>
  <div class="temperature">{{posts.current.temp_c | number: '1.0-0'}}°C</div>    
</div>

  </div>
  

  <!-- lower-data contains images -->
  <div class="lower-data">
    <!-- more information -->
  <div class="more-info-label">
    More Information
  </div>

  <!-- more info container -->
  <div class="more-info-container">
    <div class="info-block">

      <!-- min temperature -->
      <div class="info-block-label">
        <img src="../assets/min.png" alt="">
        <span>min</span>
      </div>
      <div class="info-block-value">
        {{posts.current.temp_c | number: '1.0-0'}}°C
      </div>
    </div>
      
    

    <!-- max temperature -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/max.png" alt="">
        <span>max</span>
      </div>
      <div class="info-block-value">
        {{posts.current.temp_c | number: '1.0-0'}}°C
      </div>
    </div>
   

    <!-- humidity -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/humidity.png" alt="">
        <span>humidity</span>
      </div>
      <div class="info-block-value">
       {{posts.current.humidity}}%
      </div>
    </div>
   

    <!-- wind -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/wind.png" alt="">
        <span>wind</span>
      </div>
      <div class="info-block-value">
    {{posts.current.wind_kph}} kph
      </div>
    </div>
  </div>


  
    </div>
</div>
  

<router-outlet></router-outlet>